@page
@model IndexModel
@{
    ViewData["Title"] = "Место оплаты вашего коворкинга";
}

    <!-- Masthead-->
    <header class="masthead">
        <div class="container px-4 px-lg-5 h-100">
            <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                <div class="col-lg-8 align-self-end">
                    <h1 class="text-white font-weight-bold">@ViewData["Title"]</h1>
                    <hr class="divider" />
                </div>
                <div class="col-lg-8 align-self-baseline">
                    <p class="text-white-75 mb-5">Здесь вы можете легко и безопасно оплатить услуги Coworkhub</p>
                </div>
            </div>
        </div>
    </header>
    
        <!-- About-->
        <section class="page-section bg-primary" id="about">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-8 text-center">
                        <h2 class="text-white mt-0">Разовые платежи или абонентская плата</h2>
                        <hr class="divider divider-light" />
                        <p class="text-white-75 mb-4">Через наш личный кабинет вы можете проводить как разовые платежи за разовые посещения, 
                            так и регулярные платежи на основе абоненской платы. Менеджер коворкинга оформит для вас абонемент.</p>
                        <a class="btn btn-light btn-xl" href="https://lk.coworkhub.ru">Перейти в Личный кабинет</a>
                    </div>
                </div>
            </div>
        </section>
        <!-- Services-->
<section class="page-section" id="services">
    <div class="container px-4 px-lg-5">
        <h2 class="text-center mt-0">Процесс оплаты</h2>
        <hr class="divider" />
        <div class="row gx-4 gx-lg-5">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi bi-archive fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">Выбираете вариант</h3>
                    <p class="text-muted mb-0">Вы выбираете вариант оплаты: за год, за месяц или почасовая</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-link fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">Готовим ссылку</h3>
                    <p class="text-muted mb-0">Генерируем ссылку на оплату банковской картой или через QR-код</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-credit-card fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">Оплачиваете тариф</h3>
                    <p class="text-muted mb-0">Переходите на страницу оплаты нашего Банка-партнёра</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-laptop fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">Пользуетесь рабочим местом</h3>
                    <p class="text-muted mb-0">Приходите в офис и работаете</p>
                </div>
            </div>
            <div class="mt-5">
                <h3>Рекуррентные платежи</h3>
                <p>
                    Если вы оформляете месячную подписку на коворкинг, мы будем списывать с вашей карты абонентскую 
                    плату каждый месяц, 1 числа. Когда срок действия карты кончится, мы запросим данные новой карты.    
                </p>
                <p>
                    Данные карты сохраняет на своей стороне банк. Мы не имеем доступа к этим данным и знаем только 
                    последние четыре цифры. Если захотите, — вы всегда вправе удалить платёжные данные через наш Личный Кабинет
                </p>
            </div>
            
            <div class="mt-5">
                <h3>Возвраты</h3>
                <p>
                    Деньги всегда можно вернуть, если вы не воспользовались услугой коворкинга. Если вы внесли предоплату, но понимаете, что
                    не сможете посетить коворкинг, — смело делайте отмену брони и мы вернём деньги. 
                </p>
                <p>
                    Если у вас забронирован коворкинг на длительный срок, при отмене мы пересчитаем уже израсходованные месяцы 
                    по стандартной цене. Пример: вы купили по акции 1 год коворкинга за 55 тыс рублей. В этом случае 
                    1 месяц стоил вам 5483₽. Стандартная цена при этом, 6000₽ в месяц. Через два месяца вы решаете 
                    отказаться от коворкинга. При возврате мы рассчитываем использованные месяцы по стандартной цене,
                    и возвращаем остаток. 55000₽ - (2 х 6000₽) = 43000₽
                </p>
            </div>
             
            
        </div>
    </div>
</section>
<!-- Call to action-->
        <section class="page-section bg-dark text-white">
            <div class="container px-4 px-lg-5 text-center">
                <h3 class="mb-4">Чтобы управлять вашими бронированиями и финансами,</h3> <h3>переходите в ваш Личный Кабинет на Coworkhub</h3>
                <a class="btn btn-light btn-xl mt-4" href="https://lk.coworkhub.ru">Перейти в Личный Кабинет</a>
            </div>
        </section>